
<div class="container col-12 row mx-auto" *ngIf="apiResult; else loadingData">
    <!-- paginator est un component fille de account-index (mère) -->
    <!-- eventEmitterUrlClicked => Output depuis la fille -->
    <!-- on doit passer l'information à une fonction de la classe mère -->
    <!-- qui prend un paramètre du même type déclaré dans l'EventEmitter de la fille -->
    <!-- ici : string ($event sera donc de type string) -->
    <app-paginator  [hydraView]="apiResult['hydra:view']"
                    (eventEmitterUrlClicked)="updateResult($event)"
    ></app-paginator>
  <div class="card-group col-3 mb-3 mt-3" *ngFor="let game of apiResult['hydra:member']">
    <div class="card">
      <img class="card-img-top img-fluid h-100" src="{{game.thumbnailCover}}">
      <div class="card-body">
        <h5 class="card-title">{{game.name}}</h5>
        <p class="card-text"></p>
      </div>
      <div class="card-footer bg-warning position-absolute" [ngStyle]="{bottom: 100, right: 0}">
        <small class="text-black fw-bold">{{game.price}} € </small>
      </div>
    </div>
  </div>
</div>
<ng-template #loadingData></ng-template>
