<div class="container col-12 row mx-auto" *ngIf="apiResult; else loadingData">
  <!-- paginator est un component fille de account-index (mère) -->
  <!-- eventEmitterUrlClicked => Output depuis la fille -->
  <!-- on doit passer l'information à une fonction de la classe mère -->
  <!-- qui prend un paramètre du même type déclaré dans l'EventEmitter de la fille -->
  <!-- ici : string ($event sera donc de type string) -->
  <app-paginator  [hydraView]="apiResult['hydra:view']"
                  (eventEmitterUrlClicked)="updateResult($event)"
  ></app-paginator>
  <div class="card-group col-3 mb-3 mt-3" *ngFor="let account of apiResult['hydra:member']">
    <div class="card" routerLink="/game/accounts/{{account.id}}" style="cursor: pointer">
      <div class="card-body">
        <h5 class="card-title">{{account.nickname}}</h5>
        <p class="card-text">{{account.name}}</p>
      </div>
      <div class="card-footer" [ngStyle]="{'background-color': getRandomLightColor()}">
        <small class="text-black fw-bold">{{account.email}} </small>
      </div>
    </div>
  </div>
</div>
<ng-template #loadingData></ng-template>
